@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bai+Jamjuree:wght@400;600&family=Fredoka+One&family=Inter:wght@100&family=Jost:wght@100&family=Lexend+Deca:wght@100&family=Noto+Sans&family=Open+Sans:wght@300&family=Poppins:wght@100&family=Prompt:wght@100&family=Roboto:wght@100&family=Rubik:wght@300&display=swap');
/* Removing the default styles on the html page */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    background-color: hsl(270, 20%, 96%);
    /* background-color: hsl(264, 100%, 61%); */
    /* background-color: hsl(293, 100%, 63%); */
    height: 2800px;
    font-family: 'Rubik', sans-serif;
}
#bg-1{
    width: 50%;
    height: 50%;
    background-color: hsl(264, 100%, 61%);
    background: linear-gradient(-45deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-radius: 100% 0% 100% 0% / 0% 21% 79% 100%;
    z-index: 1;
    position: fixed;
}
#bg-2{
    background-color:hsl(270, 20%, 90%);
    height: 300px;
    width: 50%;
    border-radius: 100% 0% 100% 0% / 77% 100% 0% 23% ;
    z-index: -5;
    position: fixed;
    bottom: 0;
    transform: translateX(100%);
}
#container{
    display: flex;
    flex: column;
    justify-content: space-between;
}
#chat-ui-bg{
    width: 330px;
    margin: 3em auto;
    background-color: hsl(0, 0%, 100%);
    height: 860px;
    z-index: 2;
    border-radius: 40px;
    padding: .2em;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}
#contact{
    height: 90px;
    background: linear-gradient(70deg, hsl(264, 100%, 61%),
        hsl(293, 100%, 63%));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    width: 100%;
}
#chat-ui{
    width: 90%;
    height: 820px;
    margin: .9em auto;
    background-color: hsl(270, 20%, 96%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#chat-ui p{
    font-weight: 600;
}
#screen-top{
    background-color: hsl(0, 0%, 100%);
    width: 60%;
    margin: 0 auto;
    height: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
#contact-info-container{
    width: 90%;
    margin: .6em auto;
    height: 45px;
    display: flex;
    justify-content: space-between;
}
#contact-info{
    width: 170px;
    display: flex; 
    justify-content: space-between;
}
#back-btn{
    width: 15px;
    /* border: 2px solid white; */
    align-self: center;
}
.fa-angle-left{
    color: hsl(0, 0%, 100%);
}
#profile-pic{
    width: 40px;
    /* border: 2px solid white; */
    align-self: center;
}
#profile-pic img{
    border: 2px solid white;
    width: inherit;
    border-radius: 50%;
    height: 40px;
    /* align-self: center; */
}
#profile-name{
    width: 105px;
    height: 30px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid white; */
}
#profile-name h1{
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: .5px;
    color: hsl(0, 0%, 100%);
}
#profile-name p{
    color: hsl(276, 100%, 81%);
    font-size: .6rem;
}
#radio-btn{
    width: 10px;
    height: 14px;
    align-self: center;
    /* border: 2px solid white; */
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
}
#radio-btn-dot{
    width: 3.5px;
    height: 3.5px;
    background-color: hsl(289, 100%, 72%);
    border-radius: 50%;
}
#chat-bg{
    width: 93%;
    margin: .7em auto;
    /* border: 2px solid black; */
    height: auto;
}
#left-chat{
    background-color: hsl(270, 20%, 90%);
    width: 170px;
    margin-bottom: .8em ;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    padding: .9em;
    color: hsl(276, 55%, 52%);
    font-size: .9rem;
    display: hidden;
}
#right-pic-container{
    display: flex;
    justify-content: flex-end;
}
#right-pic{
    display: flex;
    justify-content: space-between;
    width: 170px;
    
}
#dog1{
    border-radius: 20px;
    width: 50px;
}
#dog2{
    border-radius: 20px;
    width: 50px;
}
#dog3{
    border: 2px solid transparent;
    border-radius: 20px;
    width: 50px;
}
#right-pic img{
    width: inherit;
    border-radius: 15px;
}
#right-chat-container{
    display: flex;
    flex-direction: column;
}
#right-chat {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    margin-bottom: .8em;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 20px;
    padding: .9em;
    color: hsl(271, 15%, 43%);
    font-size: .9rem;
    align-self: flex-end;
}
#bill-card-container{
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#bill-card{
    width: 210px;
    height: 50px;
    /* border: 2px solid grey; */
    background: linear-gradient(-45deg,
        hsl(264, 100%, 61%),
        hsl(293, 100%, 63%));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    padding: .3em;
}
#bill-card-info{
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin: 0 auto;
}
#time{
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 40px;
}
#circle{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid hsl(289, 100%, 72%);
    align-self: center;
}
#bill-card p{
    color: hsl(289, 100%, 72%);
    font-size: .8rem;
    font-weight: 600;
    width: 90px;
}
#bill-card h1{
    font-size: 1.1rem;
    color: hsl(0, 0%, 100%);
}
#time-info{
    align-self: center;
}
#price{
    align-self: center;
}
#message-container{
    margin-top: 2em;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
}
#message-ui{
    width: 85%;
    height: 30px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    padding-right: .4em;
}
#placeholder{
    align-self: center;
    width: 130px;
    color: hsl(206, 6%, 79%);
    font-size: .9rem;
}
#submit-btn{
    width: 40px;
    height: 40px;
    align-self: center;
    border-radius: 50%;
    background-color: hsl(271, 36%, 24%);
    display: flex;
    justify-content: center;
    
}
#angle-left{
    color:hsl(0, 0%, 100%);
    align-self: center;
    width: 10px;
    transform: rotate(-180deg);
}
.chat1{
    transform: translateY(100%);
    visibility: hidden;
    animation-name: chat1Anime;
    animation-duration: .3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.chat2{
    transform: translateY(100%);
        visibility: hidden;
        animation-name: chat2Anime;
        animation-duration: 0.3s;
            animation-delay: 1.7s;
            animation-fill-mode: forwards;
}
.img1{
    transform: translateX(100%);
    animation-duration: 0.3s;
    animation-delay: 2.2s;
    animation-name: img1Anime;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.img2{
    transform: translateX(100%);
        animation-duration: 0.3s;
        animation-delay: 2.17s;
        animation-name: img2Anime;
        visibility: hidden;
        animation-fill-mode: forwards;

}
.img3{
    transform: translateX(100%);
        animation-duration: 0.3s;
        animation-delay: 2.19s;
        animation-name: img3Anime;
        visibility: hidden;
        animation-fill-mode: forwards;

}
.chat3{
    transform: translateY(100%);
        visibility: hidden;
        animation-name: chat3Anime;
        animation-duration: 0.3s;
            animation-delay: 4s;
            animation-fill-mode: forwards;
}
.chat4{
    transform: translateY(100%);
        visibility: hidden;
        animation-name: chat4Anime;
        animation-duration: 0.3s;
            animation-delay: 4.4s;
            animation-fill-mode: forwards;
}
.chat5{
    transform: translateY(100%);
        visibility: hidden;
        animation-name: chat5Anime;
        animation-fill-mode: forwards;
        animation-duration: 0.3s;
        animation-delay: 4.9s;
}
.chat6{
    transform: translateY(100%);
        /* visibility: hidden; */
        animation-name: chat6Anime;
        animation-duration: 0.3s;
            animation-delay: 5.5s;
            animation-fill-mode: forwards;
}
.chat7{
    transform: translateY(100%);
        /* visibility: hidden; */
        animation-name: chat7Anime;
        animation-duration: 0.3s;
            animation-delay: 5.9s;
            animation-fill-mode: forwards;
}
@keyframes chat1Anime{
    0%{
       visibility: visible;
    }
    100%{
        transform: translateY(0%);
        visibility: visible;
    }
}
@keyframes chat2Anime{
    0% {
            visibility: visible;
        }
    
        100% {
            transform: translateY(0%);
            visibility: visible;
        }
}
@keyframes img1Anime{
    0%{
        visibility: visible;
    }
    100%{
        transform: translateX(0%);
        visibility: visible;
    }
}
@keyframes img2Anime {
    0% {
        visibility: visible;
    }

    100% {
        transform: translateX(0%);
        visibility: visible;
    }
}
@keyframes img3Anime {
    0% {
        visibility: visible;
    }

    100% {
        transform: translateX(0%);
        visibility: visible;
    }
}
@keyframes chat3Anime {
    0% {
        visibility: visible;
    }

    100% {
        transform: translateY(0%);
        visibility: visible;
    }
}
@keyframes chat4Anime {
    0% {
        visibility: visible;
    }

    100% {
        transform: translateY(0%);
        visibility: visible;
    }
}
@keyframes chat5Anime {
    0% {
        visibility: visible;
    }

    100% {
        transform: translateY(0%);
        visibility: visible;
    }
}
@keyframes chat6Anime {
    0% {
        visibility: visible;
    }

    100% {
        transform: translateY(0%);
        visibility: visible;
    }
}
@keyframes chat7Anime {
    0% {
        visibility: visible;
    }

    100% {
        transform: translateY(0%);
        visibility: visible;
    }
}